*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
body{
  background-color: #ACDD9333;
}
main{
  margin-top: 100px;
  display: flex;
  }
  .carousel-inner{
    width: 800px;
  }
  .accordion{
  margin-top: 400px;
  width: 65%;
  margin-right: 610px;
  }
  .container_div{
  display: flex;
  }
  .conteiner_2{
  width: 1050px;
  height: 380px;
  margin-top: 25px;
  }
  .image{
  width: 750px;
  height: 350px;
  } 
  .text{
  width: 1000px;
  height: 350px;
  }
  .conteiner_3{
  margin-top: 100px;
  display: flex;
  margin-right: 30px;
  justify-content: center;
  justify-content: space-between;
  }

  p {
  font-size: 23px;
  }
  .line{
  width: 100%;
  border: solid 2px;
  }
  h1{
  text-align: center;
  }
footer {
  position: fixed;
  bottom: 0;
}