{% extends 'modelo.html' %}
{% block conteudo %}

    <div class="container_acesso">
        {% if msg %}
        <p class="msgerro text-danger">{{ msg }}</p>
        {% endif %}

            <form action="/acesso" method="post" class="row g-3 needs-validation" novalidate>
                <h1>Acesso</h1><br><br>

                <div class="form-floating mb-3">
                    <input type="text" name="usuario" id="validationCustom01" class="form-control" style="width: 98%;" placeholder=" " autofocus required>
                    <label for="validationCustom01" class="form-label">Usuario</label>
                    <div class="invalid-feedback">
                        Digite seu Nome de Usuario.
                    </div>
                </div>
                
                <div class="form-floating mb-3">
                    <input type="password" name="senha" id="validationCustom02" class="form-control justify-content-center" style="width: 98%;" placeholder=" " required>  
                    <label for="validationCustom02" class="form-label">Senha</label>
                        <div class="invalid-feedback">
                        por favor, insira sua senha!
                        </div>
                </div>

                <div class="form-check mb-3">
                    <input type="checkbox" class="form-check-input" value="" id="chkLembrar">
                    <label for="chkLembrar" class="form-check-label">Lembrar de mim</label>
                </div>

                <button type="submit" value="ACESSO" name="ACESSO"
                    class="btn btn-lg btn-danger">Entrar</button>

            </form>
    </div>
 

    <script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
(() => {
  'use strict'

  // Fetch all the forms we want to apply custom Bootstrap validation styles to
  const forms = document.querySelectorAll('.needs-validation')

  // Loop over them and prevent submission
  Array.from(forms).forEach(form => {
    form.addEventListener('submit', event => {
      if (!form.checkValidity()) {
        event.preventDefault()
        event.stopPropagation()
      }

      form.classList.add('was-validated')
    }, false)
  })
})()
    </script>

{% endblock %}
