<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="style.css">
    <title>Zé</title>
</head>
<body>
    
    <!-- HEADER -->
  <div class="d-flex flex-column wrapper">
    <header>
        <nav class="navbar navbar-expand-lg bg-success shadow border-bottom border-black border-opacity-50 border-10">
            <div class="container">
                <a class="navbar-brand fs-4 fw-bold text-white ms-4" href="/"><i class="bi bi-house"></i></a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item fw-bold">
                      <a class="nav-link active text-white ms-3" aria-current="page" href="/modelo.html">Shop</a>
                    </li>
                </ul>
                <form class="d-flex" role="search" data-bs-theme="dark">
                  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn btn-danger" type="submit">Search</button>
                </form>
              </div>
            </div>
          </nav>
    </header>
  </div>

    <!-- CARROSEL -->
    <div id="carouselExampleIndicators" class="carousel slide">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="static/IMG/slides/fruta.png" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="static/IMG/slides/slide02.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="static/IMG/slides/slide03.jpg " class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

      <!-- SHOP -->
      <main class="flex-fill" style="background-color: #ACDD9333;">
        <h1 class="text-center">Ofertas da Semana</h1><br>
        <div class="container">
            <div class="row g-3">
                <div class="col-12 col-sm-6 col-lg-4"><div class="card">
                    <img src="static/IMG/produtos/000001.jpg" class="card-img-top">
                    <div class="card-body">
                      <h5 class="card-title">Banana</h5>
                      <p class="card-text">Ela é conhecida por seu sabor doce e é uma excelente fonte de nutrientes.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div></div>
                <div class="col-12 col-sm-6 col-lg-4"><div class="card">
                    <img src="static/IMG/produtos/000002.jpg" class="card-img-top">
                    <div class="card-body">
                      <h5 class="card-title">Abacaxi</h5>
                      <p class="card-text">é uma fruta cítrica tropical bem conhecida entre os brasileiros.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div></div>
                <div class="col-12 col-sm-6 col-lg-4"><div class="card">
                    <img src="static/IMG/produtos/000003.jpg" class="card-img-top">
                    <div class="card-body">
                      <h5 class="card-title">Mamão</h5>
                      <p class="card-text"> Ele é conhecido por ser uma excelente fonte de vitamina C.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div></div>
                <div class="col-12 col-sm-6 col-lg-4"><div class="card">
                    <img src="static/IMG/produtos/000004.jpg" class="card-img-top">
                    <div class="card-body">
                      <h5 class="card-title">Maça</h5>
                      <p class="card-text">Além de serem deliciosas, as maçãs são uma excelente fonte de nutrientes.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div></div>
                <div class="col-12 col-sm-6 col-lg-4"><div class="card">
                    <img src="static/IMG/produtos/000005.jpg" class="card-img-top">
                    <div class="card-body">
                      <h5 class="card-title">Goiaba</h5>
                      <p class="card-text">Ela é conhecida por ser rica em vitamina C e fibras.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div></div>
                <div class="col-12 col-sm-6 col-lg-4"><div class="card">
                    <img src="static/IMG/produtos/000006.jpg" class="card-img-top">
                    <div class="card-body">
                      <h5 class="card-title">Laranja</h5>
                      <p class="card-text">a laranja é uma importante cultura agrícola no Brasil.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div></div>
                <div class="col-12 col-sm-6 col-lg-4"><div class="card">
                    <img src="static/IMG/produtos/000007.jpg" class="card-img-top">
                    <div class="card-body">
                      <h5 class="card-title">Abacate</h5>
                      <p class="card-text">é o fruto comestível do abacateiro Persea americana.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div></div>
                <div class="col-12 col-sm-6 col-lg-4"><div class="card">
                    <img src="static/IMG/produtos/000008.jpg" class="card-img-top">
                    <div class="card-body">
                      <h5 class="card-title">Avocado</h5>
                      <p class="card-text">é uma fruta que possui uma polpa cremosa e saborosa.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div></div>
                <div class="col-12 col-sm-6 col-lg-4"><div class="card">
                    <img src="static/IMG/produtos/000009.jpg" class="card-img-top">
                    <div class="card-body">
                      <h5 class="card-title">Cabotia</h5>
                      <p class="card-text">a abóbora cabotiá possui um sabor naturalmente mais adocicado</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div></div>
                <div class="col-12 col-sm-6 col-lg-4"><div class="card">
                    <img src="static/IMG/produtos/000010.jpg" class="card-img-top">
                    <div class="card-body">
                      <h5 class="card-title">Abobrinha</h5>
                      <p class="card-text">é uma planta pertencente à família das cucurbitáceas.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div></div>
                <div class="col-12 col-sm-6 col-lg-4"><div class="card">
                    <img src="static/IMG/produtos/000011.jpg" class="card-img-top">
                    <div class="card-body">
                      <h5 class="card-title">Alface</h5>
                      <p class="card-text">é uma hortense anual ou bienal, utilizada na alimentação humana.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div></div>
                <div class="col-12 col-sm-6 col-lg-4"><div class="card">
                    <img src="static/IMG/produtos/000012.jpg" class="card-img-top">
                    <div class="card-body">
                      <h5 class="card-title">Alho</h5>
                      <p class="card-text">O alho é uma planta comestível que pertence ao gênero Allium, que nasce em diversos lugares.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div></div>
            </div>
        </div>
        <br>
    </main>
    <footer class=" text-white bg-success shadow border-3 border-dark border-opacity-25">
        <div class="container p-5">
            <div class="row p-3">
                <div class="col-12 col-sm-6 col-md-4 text-center">
                    &copy; 2023 - Quitanda do Zé Ltda - ME
                    <br>
                    Rua Érico Pimental Dias, 187, Itapeva/SP
                    <br>
                    CNPJ 99999999/00001-99
                </div>
                <div class="col-12 col-sm-6 col-md-4 text-center">
                    Política de Privacidade
                    <br>
                    Termos de Uso
                    <br>
                    Trocas e Devoluções
                </div>
                <div class="col-12 col-sm-6 col-md-4 text-center">
                    Contato pelo Site
                    <br>
                    contato@quitandadozecombr
                    <br>
                    Cel: 15 99999-9999
                </div>
                <div class="col-12 col-sm-6 col-md-4 text-center">

                </div>
            </div>
        </div>
    </footer>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </body>
</body>

</html>