{% extends 'modelo.html' %}
{% block conteudo %}

    <!-- CARROSEL -->
    <div id="carouselExampleIndicators" class="carousel slide">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="/static/IMG/slides/fruta.png" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="/static/IMG/slides/slide02.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="/static/IMG/slides/slide03.jpg " class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

      <!-- SHOP -->
      <main class="flex-fill" style="background-color: #ACDD9333;">
        <h1 class="text-center">Ofertas da Semana</h1><br>
        <div class="container">
            <div class="row g-3">
                <div class="col-12 col-sm-6 col-lg-4"><div class="card">
                    <img src="/static/IMG/produtos/000001.jpg" class="card-img-top">
                    <div class="card-body">
                      <h5 class="card-title">Banana</h5>
                      <p class="card-text">Ela é conhecida por seu sabor doce e é uma excelente fonte de nutrientes.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div></div>
                <div class="col-12 col-sm-6 col-lg-4"><div class="card">
                    <img src="/static/IMG/produtos/000002.jpg" class="card-img-top">
                    <div class="card-body">
                      <h5 class="card-title">Abacaxi</h5>
                      <p class="card-text">é uma fruta cítrica tropical bem conhecida entre os brasileiros.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div></div>
                <div class="col-12 col-sm-6 col-lg-4"><div class="card">
                    <img src="/static/IMG/produtos/000003.jpg" class="card-img-top">
                    <div class="card-body">
                      <h5 class="card-title">Mamão</h5>
                      <p class="card-text"> Ele é conhecido por ser uma excelente fonte de vitamina C.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div></div>
                <div class="col-12 col-sm-6 col-lg-4"><div class="card">
                    <img src="/static/IMG/produtos/000004.jpg" class="card-img-top">
                    <div class="card-body">
                      <h5 class="card-title">Maça</h5>
                      <p class="card-text">Além de serem deliciosas, as maçãs são uma excelente fonte de nutrientes.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div></div>
                <div class="col-12 col-sm-6 col-lg-4"><div class="card">
                    <img src="/static/IMG/produtos/000005.jpg" class="card-img-top">
                    <div class="card-body">
                      <h5 class="card-title">Goiaba</h5>
                      <p class="card-text">Ela é conhecida por ser rica em vitamina C e fibras.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div></div>
                <div class="col-12 col-sm-6 col-lg-4"><div class="card">
                    <img src="/static/IMG/produtos/000006.jpg" class="card-img-top">
                    <div class="card-body">
                      <h5 class="card-title">Laranja</h5>
                      <p class="card-text">a laranja é uma importante cultura agrícola no Brasil.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div></div>
                <div class="col-12 col-sm-6 col-lg-4"><div class="card">
                    <img src="/static/IMG/produtos/000007.jpg" class="card-img-top">
                    <div class="card-body">
                      <h5 class="card-title">Abacate</h5>
                      <p class="card-text">é o fruto comestível do abacateiro Persea americana.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div></div>
                <div class="col-12 col-sm-6 col-lg-4"><div class="card">
                    <img src="/static/IMG/produtos/000008.jpg" class="card-img-top">
                    <div class="card-body">
                      <h5 class="card-title">Avocado</h5>
                      <p class="card-text">é uma fruta que possui uma polpa cremosa e saborosa.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div></div>
                <div class="col-12 col-sm-6 col-lg-4"><div class="card">
                    <img src="/static/IMG/produtos/000009.jpg" class="card-img-top">
                    <div class="card-body">
                      <h5 class="card-title">Cabotia</h5>
                      <p class="card-text">a abóbora cabotiá possui um sabor naturalmente mais adocicado</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div></div>
                <div class="col-12 col-sm-6 col-lg-4"><div class="card">
                    <img src="/static/IMG/produtos/000010.jpg" class="card-img-top">
                    <div class="card-body">
                      <h5 class="card-title">Abobrinha</h5>
                      <p class="card-text">é uma planta pertencente à família das cucurbitáceas.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div></div>
                <div class="col-12 col-sm-6 col-lg-4"><div class="card">
                    <img src="/static/IMG/produtos/000011.jpg" class="card-img-top">
                    <div class="card-body">
                      <h5 class="card-title">Alface</h5>
                      <p class="card-text">é uma hortense anual ou bienal, utilizada na alimentação humana.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div></div>
                <div class="col-12 col-sm-6 col-lg-4"><div class="card">
                    <img src="/static/IMG/produtos/000012.jpg" class="card-img-top">
                    <div class="card-body">
                      <h5 class="card-title">Alho</h5>
                      <p class="card-text">O alho é uma planta comestível que pertence ao gênero Allium, que nasce em diversos lugares.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div></div>
            </div>
        </div>
        <br>
    </main>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

{% endblock %}